{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}

<div class="container-fluid px-0 mb-3">
  <img src="https://source.unsplash.com/1200x400/?phone, contact" class="d-block w-100 my-4" alt="...">
</div>

<div class="container mb-3 py-4">
  <h1 class="text-center">Contact Us</h1>

  <section class="text-gray-700 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
     
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Please fill out your Querry and we will be in touch with lightening speed.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Name" type="text">
        </div>
        <div class="p-2 w-1/2">
          <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="email">
        </div>
        <div class="p-2 w-full">
          <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Message"></textarea>
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a class="text-indigo-500">trendingbasket21@gmail.com</a>
          <p class="leading-normal my-5">Get in Touch

    
        
          
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
 
  
</div>

{% endblock body %}